# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# logs
*.log

# env
.env
.env.local
.env.production.local
.env.development.local

# vscode
.vscode/

# mac/windows
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

awaraas-culture-inventory-template.xlsx
awaraas-culture-inventory-filled.xlsx